body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.submit {
  margin-top: 10px;
}

.size {
  width: 200px;
}

.positive{
  color: green;
}

.negative{
  color: red;
}

.comment{
  margin-top: 10px;
  border-bottom: 1px solid black;
}